.compositionn {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 3px;
    top: 0;
    left: 0;
    position: absolute;

    &--p1 {
      left: 0rem;
      top: -2rem;
    }
    &--p2 {
      left: 25rem;
      top: 2rem;
    }
    &--p3 {
      left: 3rem;
      top: 15rem;
    }
  }
}
