.u-center-text {
  text-align: center;
}
.u-padding-bottom-medium {
  padding-bottom: 30rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
